<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ввод публичной ссылки</title>
</head>
<body>
    <h1>Авторизация через Яндекс</h1>
    <a href="{{ auth_link }}">Авторизоваться</a>
    <h1>Введите публичную ссылку на Яндекс.Диск</h1>
    <form method="post" action="/files/">
        {% csrf_token %}
        <label for="public_key">Введите публичную ссылку:</label>
        <input type="text" name="public_key" required>

        <label for="file_type">Тип файлов:</label>
        <select name="file_type">
            <option value="">Все</option>
            <option value="image">Изображения</option>
            <option value="document">Документы</option>
        </select>
        <button type="submit">Просмотреть файлы</button>
    </form>

</body>
</html>
